@use 'sass:math';

@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@400;500;700;900&display=swap');

$font-default: 'Noto Sans JP', sans-serif;
$font-maru: 'Zen Maru Gothic', sans-serif;
$font-roboto: 'Roboto', sans-serif;
$font-ari: Arial, sans-serif;

// COLOR VARS
$c-white: #fff;
$c-darkest: #000;
$c-black: #262626;
